<!DOCTYPE html>
<html lang="en" style="--primary01: rgba(139, 115, 85, 0.1); --primary02: rgba(139, 115, 85, 0.2); --primary03: rgba(139, 115, 85, 0.3); --primary06: rgba(139, 115, 85, 0.6); --primary09: rgba(139, 115, 85, 0.9); --primary05: rgba(139, 115, 85, 0.5); --primary-bg-color: #8b7355; --primary-bg-hover: #8b735595; --primary-bg-border: #8b7355; --dark-null: #8b7355; --transparent-null: #8b735595; --primary-transparentcolor: #8b735520; --darkprimary-null: #8b735520; --transparentprimary-null: #8b735520;">
<head>
	<meta charset="UTF-8">
	<meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0'>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<!-- Title -->
	<title> Guardian Capital - Account </title>

	<!-- Favicon -->
	<link rel="icon" href="~/img/brand/favicon.png" type="image/x-icon" />

	<!-- Icons css -->
	<link href="~/css/icons.css" rel="stylesheet">

	<!--  bootstrap css-->
	<link id="style" href="~/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

	<!--- Style css --->
	<link href="~/css/style.css" rel="stylesheet">
	<link href="~/css/style-dark.css" rel="stylesheet">
	<link href="~/css/style-transparent.css" rel="stylesheet">

	<!---Skinmodes css-->
	<link href="~/css/skin-modes.css" rel="stylesheet" />

	<!--- Animations css-->
	<link href="~/css/animate.css" rel="stylesheet">

	<!-- INTERNAL Switcher css -->
	<link href="~/switcher/css/switcher.css" rel="stylesheet" />
	<link href="~/switcher/demo.css" rel="stylesheet" />

	<link href="~/css/account.css?v=2" rel="stylesheet" />
</head>
<body class="main-body app ltr sidebar-gone horizontal">

	<!-- Loader -->
	<div id="global-loader">
		<img src="~/img/loader.svg" class="loader-img" alt="Loader">
	</div>
	<!-- /Loader -->
	<!-- Page -->
	<div class="page">
		<div>
			<!-- main-header -->
			<div class="main-header side-header sticky nav nav-item account-information">
				<div class=" main-container container-fluid">
					<div class="main-header-left ">
						<div class="responsive-logo">
							<a asp-controller="Account" asp-action="Index" class="header-logo">
								<img src="~/img/brand/logo.png" class="mobile-logo logo-1" alt="logo">
							</a>
						</div>
						@* <div class="app-sidebar__toggle" data-bs-toggle="sidebar"> *@
						@* 	<a class="open-toggle" href="javascript:void(0);"><i class="header-icon fe fe-align-left"></i></a> *@
						@* 	<a class="close-toggle" href="javascript:void(0);"><i class="header-icon fe fe-x"></i></a> *@
						@* </div> *@
						<div class="logo-horizontal">
							<a asp-controller="Account" asp-action="Index" class="header-logo">
								<img src="~/img/brand/logo.png" class="mobile-logo logo-1" alt="logo">
							</a>
						</div>
					</div>
					<div class="main-header-right">
						<button class="navbar-toggler navresponsive-toggler d-lg-none ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent-4" aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
							<span class="navbar-toggler-icon fe fe-more-vertical "></span>
						</button>
						<div class="mb-0 navbar navbar-expand-lg navbar-nav-right responsive-navbar navbar-dark p-0">
							<div class="collapse navbar-collapse" id="navbarSupportedContent-4">
								<ul class="nav nav-item header-icons navbar-nav-right ms-auto">
									@if (User.Identity.IsAuthenticated && ViewBag.Hide != true)
									{
										<li class="nav-item main-header-notification mx-2 tx-bold">
											<a href="#" id="logout-link" class="text-danger">LOG OUT</a>
										</li>
									}
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /main-header -->
			<!-- main-sidebar -->
			<div class="sticky" style="z-index:1000;">
				<aside class="app-sidebar">
					<div class="main-sidebar-header active">
						<a class="header-logo active" asp-controller="Account" asp-action="Index">
							<img src="~/img/brand/logo.png" class="main-logo  desktop-logo" alt="logo">
							<img src="~/img/brand/favicon.png" class="main-logo  mobile-logo" alt="logo">
						</a>
					</div>
					<div class="main-sidemenu">
						@if (User.Identity.IsAuthenticated)
						{
							@* <div class="slide-left disabled" id="slide-left"><svg xmlns="http://www.w3.org/2000/svg" fill="#7b8191" width="24" height="24" viewBox="0 0 24 24"><path d="M13.293 6.293 7.586 12l5.707 5.707 1.414-1.414L10.414 12l4.293-4.293z"/></svg></div> *@
							@* <ul class="side-menu"> *@
							@* 	<li class="side-item side-item-category">Main</li> *@
							@* 	<li class="slide"> *@
							@* 		<a class="side-menu__item" data-bs-toggle="slide" href="javascript:void(0);"><svg xmlns="http://www.w3.org/2000/svg"  class="side-menu__icon" width="24" height="24" viewBox="0 0 24 24"><path d="M3 13h1v7c0 1.103.897 2 2 2h12c1.103 0 2-.897 2-2v-7h1a1 1 0 0 0 .707-1.707l-9-9a.999.999 0 0 0-1.414 0l-9 9A1 1 0 0 0 3 13zm7 7v-5h4v5h-4zm2-15.586 6 6V15l.001 5H16v-5c0-1.103-.897-2-2-2h-4c-1.103 0-2 .897-2 2v5H6v-9.586l6-6z"/></svg><span class="side-menu__label">Dashboards</span><i class="angle fe fe-chevron-right"></i></a> *@
							@* 		<ul class="slide-menu"> *@
							@* 			<li class="side-menu__label1"><a href="javascript:void(0);">Dashboards</a></li> *@
							@* 			<li><a class="slide-item" href="index.html">Dashboard-1</a></li> *@
							@* 			<li><a class="slide-item" href="index1.html">Dashboard-2</a></li> *@
							@* 			<li><a class="slide-item" href="index2.html">Dashboard-3</a></li> *@
							@* 		</ul> *@
							@* 	</li> *@
							@* </ul> *@
							@* <div class="slide-right" id="slide-right"><svg xmlns="http://www.w3.org/2000/svg" fill="#7b8191" width="24" height="24" viewBox="0 0 24 24"><path d="M10.707 17.707 16.414 12l-5.707-5.707-1.414 1.414L13.586 12l-4.293 4.293z" /></svg></div> *@
						}
					</div>
				</aside>
			</div>
			<!-- main-sidebar -->
		</div>
		<div>
			<!-- main-content -->
			<div class="main-content app-content">
				<!-- container -->
				<div class="main-container container-fluid">
					@RenderBody()
				</div>
			</div>
			<!-- Footer opened -->
			<div class="main-footer text-white p-1">
				<div class="container-fluid pt-0 ht-100p">
					<div class="breadcrumb-header justify-content-between m-0">
						<div class="left-content">
							©<script>document.write(new Date().getFullYear());</script> Guardian Capitol LLC.
						</div>
						<div class="justify-content-center mt-2">
						</div>
					</div>
				</div>
			</div>
			<!-- Footer closed -->
		</div>
	</div>
	<!-- End Page -->

	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<script>
		document.getElementById("logout-link").addEventListener("click", function (e) {
			e.preventDefault();

			Swal.fire({
					title: 'Are you sure you want to log out?',
					icon: 'warning',
					showCancelButton: true,
					confirmButtonText: 'Yes, log out',
					cancelButtonText: 'Cancel',
					customClass: {
						popup: 'account-information',
						cancelButton: 'btn btn-primary text-white',
						confirmButton: 'btn btn-danger text-white'
					}
			}).then((result) => {
				if (result.isConfirmed) {
					window.location.href = '/Account/Logout';
				}
			});
		});
	</script>

	<!-- JQuery min js -->
	<script src="~/plugins/jquery/jquery.min.js"></script>

	<!-- Bootstrap js -->
	<script src="~/plugins/bootstrap/js/popper.min.js"></script>
	<script src="~/plugins/bootstrap/js/bootstrap.min.js"></script>

	<!-- Moment js -->
	<script src="~/plugins/moment/moment.js"></script>

	<!-- P-scroll js -->
	<script src="~/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>
	<script src="~/plugins/perfect-scrollbar/p-scroll.js"></script>

	<!-- eva-icons js -->
	<script src="~/js/eva-icons.min.js"></script>

	<!-- Sidebar js -->
	<script src="~/plugins/side-menu/sidemenu.js"></script>

	<!-- Sticky js -->
	<script src="~/js/sticky.js"></script>

	<!-- Right-sidebar js -->
	<script src="~/plugins/sidebar/sidebar.js"></script>
	<script src="~/plugins/sidebar/sidebar-custom.js"></script>

	<!-- Theme Color js -->
	<script src="~/js/themecolor.js"></script>

	<!-- custom js -->
	<script src="~/js/custom1.js"></script>

	<!-- Switcher js -->
	<script src="~/switcher/js/switcher.js"></script>

	<!-- Internal Data tables -->
	<script src="~/plugins/datatable/js/jquery.dataTables.min.js"></script>
	<script src="~/plugins/datatable/js/dataTables.bootstrap5.js"></script>
	<script src="~/plugins/datatable/js/dataTables.buttons.min.js"></script>
	<script src="~/plugins/datatable/js/buttons.bootstrap5.min.js"></script>
	<script src="~/plugins/datatable/js/jszip.min.js"></script>
	<script src="~/plugins/datatable/pdfmake/pdfmake.min.js"></script>
	<script src="~/plugins/datatable/pdfmake/vfs_fonts.js"></script>
	<script src="~/plugins/datatable/js/buttons.html5.min.js"></script>
	<script src="~/plugins/datatable/js/buttons.print.min.js"></script>
	<script src="~/plugins/datatable/js/buttons.colVis.min.js"></script>
	<script src="~/plugins/datatable/dataTables.responsive.min.js"></script>
	<script src="~/plugins/datatable/responsive.bootstrap5.min.js"></script>
	<script src="~/lib/qrcode.js"></script>
	<script src="~/js/table-data.js"></script>

</body>
</html>